<footer class="footer">
  <div class="footer-container">
    <div class="posh-container">
      <p>&copy; {{ currentYear }} POSH ™ Inc.</p>
    </div>
    <div class="icons">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-github"></i>
      <i class="fa-brands fa-linkedin-in"></i>
    </div>
    <div class="made">
      <p>Made with ❤️ by <span class="outstanding">Erioluwa</span></p>
    </div>
  </div>
</footer>
