.about {
  max-width: 720px;
  margin: 0 auto;

  code {
    background: var(--color-bg-alt);
    padding: 2px 6px;
    border-radius: 4px;
    font-size: 0.9em;
  }

  .btn {
    background-color: #007aff;
    border-radius: 4px;
    font-size: smaller;
    margin-top: 50px;
  }
}
