.section3 {
  background-color: #0d141c;
  width: 100%;
  column-count: 3; /* the number of columns you want */
  justify-content: center;
  padding: 5px 15px;
}

.gallery-item {
  break-inside: avoid; /* stops an item splitting across two columns */
}

.smallvalue{
  text-align: center;
  font-weight: lighter;
  color: #e1d4ad;
}

.bigvalue{
  text-align: center;
  font-weight: normal;
  color: #e1d4ad;
}

img{
  width: 100%;
  height: auto;
}

.bigvalue {
  color: white;
  font-size: medium;
}

.smallvalue {
  color: white;
  font-size: small;
}
